<div *ngIf="imageMessage$ | async as imageMessage else spinner" align="center">
    <div *ngIf="images else noImages">

        <h4 class="text-center">Click image to select</h4>

        <div class="row justify-content-center">
            <div class="col-4">
                <div *ngFor="let image of imageColumn1">
                    <app-image-detail [image]="image" (click)="onImageClick(image)" (dblclick)="onImageDblClick(image)">
                    </app-image-detail>
                </div>
            </div>
            <div class="col-4">
                <div *ngFor="let image of imageColumn2">
                    <app-image-detail [image]="image" (click)="onImageClick(image)" (dblclick)="onImageDblClick(image)">
                    </app-image-detail>
                </div>
            </div>
            <div class="col-4">
                <div *ngFor="let image of imageColumn3">
                    <app-image-detail [image]="image" (click)="onImageClick(image)" (dblclick)="onImageDblClick(image)">
                    </app-image-detail>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noImages>
        <p>Image repository is empty!</p>
    </ng-template>
</div>
<ng-template #spinner>
    <div class="container">
        <div class="spinner-border"></div>
    </div>
</ng-template>