<div *ngIf="iImage else noImage" class="container" align="center">
    <h4 class="text-center">Select threshold and start segmentation</h4>
    <div class="slidecontainer">
        <span class="font-weight-bold mr-2">{{min}}</span>
        <input type="range" min="{{min}}" max="{{max}}" value="127" class="slider" id="myRange"
            [formControl]="thresholdControl">
        <span class="font-weight-bold mr-2">{{max}}</span>
    </div>
    <label for="myRange">Threshold: {{thresholdControl.value}}</label>
    <div class="container">
        <button class="btn btn-danger" (click)="onThreshold()">Start thresholding</button>
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div>
            <img src="{{iImage.full_path}}" alt="{{iImage.name}}" class="img-fluid">
            <p>{{iImage.name}}</p>
        </div>
        <div *ngIf="oImage; else elseBlock">
            <img src="{{oImage.full_path}}" alt="{{oImage.name}}" class="img-fluid">
            <p>{{oImage.name}}</p>
        </div>
        <ng-template #elseBlock>
            <div>
                <img src="{{iImage.full_path}}" alt="{{iImage.name}}" class="img-fluid">
                <p>{{iImage.name}}</p>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #noImage>
    <div class="container" align="center">No image selected</div>
</ng-template>