* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-family: Cambria, Calibri, Verdana, Ariel;
  font-size: 15px;
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 15px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
