<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Web Image Processing</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          File
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['image-upload']">
            Upload Image
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['images']">
          Repository
        </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['image-operation']">
            Threshold
          </a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr />
<router-outlet></router-outlet>